---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cfinfrastructure/golang

inputs:
- name: bbl-ci

outputs:
- name: terraform-binaries

params:
  TF_VERSION:
  URL_BASE: "https://releases.hashicorp.com/terraform"

run:
  path: bbl-ci/ci/tasks/download-terraform/task
