---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cfinfrastructure/deployment

inputs:
- name: bbl-ci
- name: bbl-states

outputs:
- name: concourse-vars

params:
  BBL_STATE_DIR:

run:
  path: bbl-ci/ci/tasks/get-concourse-test-vars/task
