[submodule "vendor/github.com/aws/aws-sdk-go"]
	path = vendor/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go.git
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "vendor/github.com/rosenhouse/awsfaker"]
	path = vendor/github.com/rosenhouse/awsfaker
	url = https://github.com/rosenhouse/awsfaker.git
[submodule "vendor/github.com/pivotal-cf-experimental/gomegamatchers"]
	path = vendor/github.com/pivotal-cf-experimental/gomegamatchers
	url = https://github.com/pivotal-cf-experimental/gomegamatchers
[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "vendor/github.com/pivotal-cf-experimental/bosh-test"]
	path = vendor/github.com/pivotal-cf-experimental/bosh-test
	url = https://github.com/pivotal-cf-experimental/bosh-test.git
[submodule "vendor/github.com/cloudfoundry/multierror"]
	path = vendor/github.com/cloudfoundry/multierror
	url = https://github.com/cloudfoundry/multierror.git
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/square/certstrap"]
	path = vendor/github.com/square/certstrap
	url = https://github.com/square/certstrap
[submodule "vendor/golang.org/x/oauth2"]
	path = vendor/golang.org/x/oauth2
	url = https://go.googlesource.com/oauth2
[submodule "vendor/cloud.google.com/go"]
	path = vendor/cloud.google.com/go
	url = https://code.googlesource.com/gocloud
[submodule "vendor/google.golang.org/api"]
	path = vendor/google.golang.org/api
	url = https://code.googlesource.com/google-api-go-client
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/cloudfoundry/bosh-deployment"]
	path = vendor/github.com/cloudfoundry/bosh-deployment
	url = https://github.com/cloudfoundry/bosh-deployment.git
[submodule "vendor/github.com/coreos/go-semver"]
	path = vendor/github.com/coreos/go-semver
	url = https://github.com/coreos/go-semver.git
[submodule "vendor/github.com/cppforlife/jumpbox-deployment"]
	path = vendor/github.com/cppforlife/jumpbox-deployment
	url = https://github.com/cppforlife/jumpbox-deployment.git
[submodule "vendor/github.com/armon/go-socks5"]
	path = vendor/github.com/armon/go-socks5
	url = https://github.com/armon/go-socks5
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
