[submodule "vendor/github.com/aws/aws-sdk-go"]
	path = vendor/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go.git
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "vendor/github.com/rosenhouse/awsfaker"]
	path = vendor/github.com/rosenhouse/awsfaker
	url = https://github.com/rosenhouse/awsfaker.git
[submodule "vendor/github.com/pivotal-cf-experimental/gomegamatchers"]
	path = vendor/github.com/pivotal-cf-experimental/gomegamatchers
	url = https://github.com/pivotal-cf-experimental/gomegamatchers
[submodule "vendor/github.com/cloudfoundry-incubator/candiedyaml"]
	path = vendor/github.com/cloudfoundry-incubator/candiedyaml
	url = https://github.com/cloudfoundry-incubator/candiedyaml.git
[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "vendor/github.com/pivotal-cf-experimental/bosh-test"]
	path = vendor/github.com/pivotal-cf-experimental/bosh-test
	url = https://github.com/pivotal-cf-experimental/bosh-test.git
[submodule "vendor/github.com/cloudfoundry/multierror"]
	path = vendor/github.com/cloudfoundry/multierror
	url = https://github.com/cloudfoundry/multierror.git
