---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cryogenics/bbl-deployment

inputs:
- name: bbl-ci
- name: bosh-bootloader
- name: terraform-binaries

outputs:
- name: bosh-logs

params:
  BBL_IAAS:
  STEMCELL_URL:
  BBL_AWS_REGION:
  BBL_AWS_ACCESS_KEY_ID:
  BBL_AWS_SECRET_ACCESS_KEY:
  BBL_AZURE_SUBSCRIPTION_ID:
  BBL_AZURE_TENANT_ID:
  BBL_AZURE_CLIENT_ID:
  BBL_AZURE_CLIENT_SECRET:
  BBL_AZURE_REGION:
  BBL_GCP_SERVICE_ACCOUNT_KEY:
  BBL_GCP_REGION:
  BBL_OPENSTACK_AUTH_URL:
  BBL_OPENSTACK_AZ:
  BBL_OPENSTACK_NETWORK_ID:
  BBL_OPENSTACK_NETWORK_NAME:
  BBL_OPENSTACK_PASSWORD:
  BBL_OPENSTACK_USERNAME:
  BBL_OPENSTACK_PROJECT:
  BBL_OPENSTACK_DOMAIN:
  BBL_OPENSTACK_REGION:
  BBL_TEST_ENV_ID_PREFIX:
  BBL_TEST_PACKAGES:
  RUN_TEST:

run:
  path: bbl-ci/ci/tasks/acceptance/task
