---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cfinfrastructure/deployment

inputs:
- name: bbl-ci
- name: bosh-bootloader

outputs:
- name: sha-version

run:
  path: bbl-ci/ci/tasks/generate-version-from-sha/task
